section {
    margin: 20px;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: gray 3px solid;
    border-radius: 20px;
    box-shadow: lightgray 3px 3px 3px 3px;
    background-color: #b5e7a0;
}

h3 {
    margin: 20px;
}

button {
    margin: 20px;
}

.Aardbeien {
    background-color: rosybrown;
}

.Bananen {
    background-color: lightyellow;
}

.Appels {
    background-color: #b5e7a0;
}
